# Oracle XE (container do banco)
ORACLE_ROOT_PASSWORD=
ORACLE_APP_USER=safra
ORACLE_APP_PASSWORD=

# JDBC usado pelo container Java (aponta para o serviço oracle-xe do compose)
ORACLE_URL=jdbc:oracle:thin:@oracle-xe:1521/XEPDB1

# IA (Gemini)
GEMINI_API_KEY=
